PORT=4000

PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=urbanflow_mobility

CORS_ORIGIN=http://localhost:5173

JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=7d
